<table>
        <tr>
            <td>Input Array</td>
            {% for item in inputArr %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        

        <tr>
            <td>Count Array Index</td>
            {% for item in n %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td>Count Array</td>
            {% for item in countArr %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td>Output Array</td>
            {% for item in data %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
</table>
