{% load static %}
<div style="display: flex;">
    <div style="flex: 1; text-align: center;">
        <div>
            <p>Original Graph</p>
            <img src="{% static 'graphApp/images/' %}{{ image }}" alt="Graph Image 1" style="max-width: 75%; height: auto;">
        </div>
    </div>
    <div style="flex: 1; text-align: center;">
        <div>
            <p>MIS</p>
            <img src="{% static 'graphApp/images/' %}{{ imageMIS }}" alt="Graph Image 2" style="max-width: 75%; height: auto;">
        </div>
    </div>
</div>
