{% block contents %}
{% load static %}
<style>
    body {
        background: linear-gradient(135deg, rgba(81, 40, 132, 1) 0%, rgba(123, 75, 195, 1) 100%);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .content-container {
        position: relative; /* Required for positioning the icons */
        margin: 100px auto 20px; 
        padding: 40px 21px 21px; 
        background-color: rgba(255, 253, 250); 
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 1400px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    .message {
        margin: 20px 0;
        font-size: 18px;
    }

    .info-icons-container {
        display: flex; /* Use Flexbox for layout */
        justify-content: flex-front; /* Align icons to the end of the container */
        margin-bottom: 20px; /* Add some margin at the bottom */
    }

    .info-icon {
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: black;
        background-color: rgba(208,193,251);
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: background-color 0.3s, color 0.3s, transform 0.2s;
    }

    .info-icon:hover {
        background-color: rgba(81, 40, 132);
        color: #fff;
        transform: scale(1.05);
    }

    .info-icon.code {
        right: 5px;
    }

    .popup {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 253, 250);
        border: 2px solid #000;
        border-radius: 8px;
        padding: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        z-index: 1000;
        max-width: 80%;
        max-height: 80%;
        overflow: auto;
    }

    .popup-content {
        max-width: 100%;
        word-wrap: break-word;
        white-space: pre-wrap; /* Preserve spaces and line breaks */
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #007BFF;
    }

    .popup-close:hover {
        color: #0056b3;
    }

    .popup-overlay {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.25);
        z-index: 999;
    }
</style>

{% include 'navigationbar.html' %}
<div class="content-container">
    <div class="info-icons-container">
        <span class="info-icon description" onclick="showPopup('description')">Description</span>
        <span class="info-icon" onclick="showPopup('pseudocode')">Pseudo-Code</span>
        <span class="info-icon new" onclick="showPopup('code')">Python Code</span>
    </div>
    {% if is_sorted %}
    <p class="message">The list is sorted.</p>
    {% else %}
        {% if is_Dijk is defined and is_Dijk %}
            {% include "processing/Dijk.html" %}
        {% elif is_LCS %}
            {% include "processing/LCS.html" %}
        {% elif is_Kruskals %}
            {% include "processing/kruskals.html" %}
        {% elif is_Prims %}
            {% include "processing/prims.html" %}
        {% elif is_BF %}
            {% include "processing/bf.html" %}
        {% elif is_Huffman %}
            {% include "processing/huffman.html" %}
        {% elif is_IntervalGreed %}
            {% include "processing/intervalGreed.html" %}
        {% elif is_KMP %}
            {% include "processing/KMP.html" %}
        {% elif is_FloydWarshall %}
            {% include "processing/floydwarshall.html" %}
        {% elif is_bubble %}
            {% include "processing/bubble.html" %}
        {% elif is_Knapsack %}
            {% include "processing/knapsack.html" %}
        {% elif is_UnionFind %}
            {% include "processing/union.html" %}
        {% elif is_Trie %}
            {% include "processing/trie.html" %}
        {% elif is_BWT %}
            {% include "processing/bwt.html" %}
        {% elif is_BoyerMoore %}
            {% include "processing/boyermoore.html" %}
        {% elif is_RK %}
            {% include "processing/rabinkarp.html" %}
        {% elif is_FisherYate %}
            {% include "processing/fisheryates.html" %}
        {% elif is_CountSort %}
            {% include "processing/countsort.html" %}
        {% elif is_MergeSort %}
            {% include "processing/mergesort.html" %}
        {% elif is_MaxIncrease %}
            {% include "processing/maxincrease.html" %}
        {% elif is_QS %}
            {% include "processing/quicksort.html" %}
        {% elif is_QSelect %}
            {% include "processing/quickselect.html" %}
        {% elif is_MIS %}
            {% include "processing/mis.html" %}
        {% elif is_DijkInteractive %}
            {% include "processing/DijkInteractive.html" %}
        {% elif is_BFInteractive %}
            {% include "processing/BFInteractive.html" %}
        {% endif %}
    {% endif %}
</div>

<!-- Existing Popup and overlay -->

<div id="popup-overlay-description" class="popup-overlay" onclick="hidePopup('description')"></div>
<div id="popup-description" class="popup">
    <span class="popup-close" onclick="hidePopup('description')">✖</span>
    <div id="popup-content-description" class="popup-content"></div>
</div>

<div id="popup-overlay" class="popup-overlay" onclick="hidePopup('pseudocode')"></div>
<div id="popup" class="popup">
    <span class="popup-close" onclick="hidePopup('pseudocode')">✖</span>
    <div id="popup-content" class="popup-content"></div>
</div>

<!-- New Popup and overlay -->
<div id="popup-overlay-new" class="popup-overlay" onclick="hidePopup('code')"></div>
<div id="popup-new" class="popup">
    <span class="popup-close" onclick="hidePopup('code')">✖</span>
    <div id="popup-content-new" class="popup-content"></div>
</div>



<script>
    const STATIC_URL = "{% static '' %}";

    function showPopup(type) {
        let fileName, additionalFileName;
        switch (type) {
            case 'pseudocode':
                {% if is_Dijk %}
                    fileName = 'Dijk.txt';
                {% elif is_LCS %}
                    fileName = 'LCS.txt';
                {% elif is_Kruskals %}
                    fileName = 'Kruskals.txt';
                {% elif is_Prims %}
                    fileName = 'Prims.txt';
                {% elif is_BF %}
                    fileName = 'BF.txt';
                {% elif is_Huffman %}
                    fileName = 'Huffman.txt';
                {% elif is_IntervalGreed %}
                    fileName = 'IntervalGreed.txt';
                {% elif is_KMP %}
                    fileName = STATIC_URL + 'graphApp/text/kmpPseudo.txt';
                {% elif is_FloydWarshall %}
                    fileName = 'FloydWarshall.txt';
                {% elif is_bubble %}
                    fileName = STATIC_URL + 'graphApp/text/bubblePseudo.txt';
                {% elif is_Knapsack %}
                    fileName = 'Knapsack.txt';
                {% elif is_UnionFind %}
                    fileName = 'UnionFind.txt';
                {% elif is_Trie %}
                    fileName = 'Trie.txt';
                {% elif is_BWT %}
                    fileName = STATIC_URL + 'graphApp/text/bwtPseudo.txt';
                {% elif is_BoyerMoore %}
                    fileName = STATIC_URL + 'graphApp/text/bmPseudo.txt';
                {% elif is_RK %}
                    fileName = 'RK.txt';
                {% elif is_FisherYate %}
                    fileName = STATIC_URL + 'graphApp/text/fyPseudo.txt';
                {% elif is_CountSort %}
                    fileName = 'CountSort.txt';
                {% elif is_MergeSort %}
                    fileName = STATIC_URL + 'graphApp/text/msPseudo.txt';
                {% elif is_MaxIncrease %}
                    fileName = 'MaxIncrease.txt';
                {% elif is_QS %}
                    fileName = 'QS.txt';
                {% elif is_QSelect %}
                    fileName = 'QSelect.txt';
                {% elif is_MIS %}
                    fileName = 'MIS.txt';
                {% elif is_DijkInteractive %}
                    fileName = STATIC_URL + 'graphApp/text/dijkPseudo.txt';
                {% elif is_BFInteractive %}
                    fileName = STATIC_URL + 'graphApp/text/BFPseudo.txt';
                {% endif %}
                fetch(fileName)
                    .then(response => response.text())
                    .then(data => {
                        const formattedData = data.replace(/\n/g, '<br>');
                        document.getElementById('popup-content').innerHTML = formattedData;
                        document.getElementById('popup-overlay').style.display = 'block';
                        document.getElementById('popup').style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching file:', error));
                break;
            case 'code':
                {% if is_Dijk %}
                    additionalFileName = STATIC_URL + 'graphApp/text/dijkCode.txt';
                {% elif is_LCS %}
                    additionalFileName = STATIC_URL + 'graphApp/text/lcs_additional.txt';
                {% elif is_Kruskals %}
                    additionalFileName = STATIC_URL + 'graphApp/text/kruskals_additional.txt';
                {% elif is_Prims %}
                    additionalFileName = STATIC_URL + 'graphApp/text/prims_additional.txt';
                {% elif is_BF %}
                    additionalFileName = STATIC_URL + 'graphApp/text/bf_additional.txt';
                {% elif is_Huffman %}
                    additionalFileName = STATIC_URL + 'graphApp/text/huffman_additional.txt';
                {% elif is_IntervalGreed %}
                    additionalFileName = STATIC_URL + 'graphApp/text/intervalGreed_additional.txt';
                {% elif is_KMP %}
                    additionalFileName = STATIC_URL + 'graphApp/text/kmpCode.txt';
                {% elif is_FloydWarshall %}
                    additionalFileName = STATIC_URL + 'graphApp/text/floydWarshall_additional.txt';
                {% elif is_bubble %}
                    additionalFileName = STATIC_URL + 'graphApp/text/bubbleCode.txt';
                {% elif is_Knapsack %}
                    additionalFileName = STATIC_URL + 'graphApp/text/knapsack_additional.txt';
                {% elif is_UnionFind %}
                    additionalFileName = STATIC_URL + 'graphApp/text/unionFind_additional.txt';
                {% elif is_Trie %}
                    additionalFileName = STATIC_URL + 'graphApp/text/trie_additional.txt';
                {% elif is_BWT %}
                    additionalFileName = STATIC_URL + 'graphApp/text/bwtCode.txt';
                {% elif is_BoyerMoore %}
                    additionalFileName = STATIC_URL + 'graphApp/text/bmCode.txt';
                {% elif is_RK %}
                    additionalFileName = STATIC_URL + 'graphApp/text/rk_additional.txt';
                {% elif is_FisherYate %}
                    additionalFileName = STATIC_URL + 'graphApp/text/fyCode.txt';
                {% elif is_CountSort %}
                    additionalFileName = STATIC_URL + 'graphApp/text/countSort_additional.txt';
                {% elif is_MergeSort %}
                    additionalFileName = STATIC_URL + 'graphApp/text/msCode.txt';
                {% elif is_MaxIncrease %}
                    additionalFileName = STATIC_URL + 'graphApp/text/maxIncrease_additional.txt';
                {% elif is_QS %}
                    additionalFileName = STATIC_URL + 'graphApp/text/qs_additional.txt';
                {% elif is_QSelect %}
                    additionalFileName = STATIC_URL + 'graphApp/text/qSelect_additional.txt';
                {% elif is_MIS %}
                    additionalFileName = STATIC_URL + 'graphApp/text/mis_additional.txt';
                {% elif is_DijkInteractive %}
                    additionalFileName = STATIC_URL + 'graphApp/text/dijkCode.txt';
                {% elif is_BFInteractive %}
                    additionalFileName = STATIC_URL + 'graphApp/text/BFCode.txt';
                {% endif %}
                fetch(additionalFileName)
                    .then(response => response.text())
                    .then(data => {
                        const formattedData = data.replace(/\n/g, '<br>');
                        document.getElementById('popup-content-new').innerHTML = formattedData;
                        document.getElementById('popup-overlay-new').style.display = 'block';
                        document.getElementById('popup-new').style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching additional file:', error));
                break;
            case 'description':
            {% if is_Dijk %}
                descriptionFileName = STATIC_URL + 'graphApp/text/dijk_description.txt';
            {% elif is_LCS %}
                descriptionFileName = STATIC_URL + 'graphApp/text/lcs_description.txt';
            {% elif is_Kruskals %}
                descriptionFileName = STATIC_URL + 'graphApp/text/kruskals_description.txt';
            {% elif is_Prims %}
                descriptionFileName = STATIC_URL + 'graphApp/text/prims_description.txt';
            {% elif is_BF %}
                descriptionFileName = STATIC_URL + 'graphApp/text/bf_description.txt';
            {% elif is_Huffman %}
                descriptionFileName = STATIC_URL + 'graphApp/text/huffman_description.txt';
            {% elif is_IntervalGreed %}
                descriptionFileName = STATIC_URL + 'graphApp/text/intervalGreed_description.txt';
            {% elif is_KMP %}
                descriptionFileName = STATIC_URL + 'graphApp/text/kmpDescription.txt';
            {% elif is_FloydWarshall %}
                descriptionFileName = STATIC_URL + 'graphApp/text/floydWarshall_description.txt';
            {% elif is_bubble %}
                descriptionFileName = STATIC_URL + 'graphApp/text/bubbleDescription.txt';
            {% elif is_Knapsack %}
                descriptionFileName = STATIC_URL + 'graphApp/text/knapsack_description.txt';
            {% elif is_UnionFind %}
                descriptionFileName = STATIC_URL + 'graphApp/text/unionFind_description.txt';
            {% elif is_Trie %}
                descriptionFileName = STATIC_URL + 'graphApp/text/trie_description.txt';
            {% elif is_BWT %}
                descriptionFileName = STATIC_URL + 'graphApp/text/bwtDescription.txt';
            {% elif is_BoyerMoore %}
                descriptionFileName = STATIC_URL + 'graphApp/text/bmDescription.txt';
            {% elif is_RK %}
                descriptionFileName = STATIC_URL + 'graphApp/text/rk_description.txt';
            {% elif is_FisherYate %}
                descriptionFileName = STATIC_URL + 'graphApp/text/fyDescription.txt';
            {% elif is_CountSort %}
                descriptionFileName = STATIC_URL + 'graphApp/text/countSort_description.txt';
            {% elif is_MergeSort %}
                descriptionFileName = STATIC_URL + 'graphApp/text/msDescription.txt';
            {% elif is_MaxIncrease %}
                descriptionFileName = STATIC_URL + 'graphApp/text/maxIncrease_description.txt';
            {% elif is_QS %}
                descriptionFileName = STATIC_URL + 'graphApp/text/qs_description.txt';
            {% elif is_QSelect %}
                descriptionFileName = STATIC_URL + 'graphApp/text/qSelect_description.txt';
            {% elif is_MIS %}
                descriptionFileName = STATIC_URL + 'graphApp/text/mis_description.txt';
            {% elif is_DijkInteractive %}
                descriptionFileName = STATIC_URL + 'graphApp/text/dijkDescription.txt';
            {% elif is_BFInteractive %}
                descriptionFileName = STATIC_URL + 'graphApp/text/bfDescription.txt';
            {% endif %}
            fetch(descriptionFileName)
                .then(response => response.text())
                .then(data => {
                    const formattedData = data.replace(/\n/g, '<br>');
                    document.getElementById('popup-content-description').innerHTML = formattedData;
                    document.getElementById('popup-overlay-description').style.display = 'block';
                    document.getElementById('popup-description').style.display = 'block';
                })
                .catch(error => console.error('Error fetching description file:', error));
            break;
        
        }
    }

    function hidePopup(type) {
        if (type === 'pseudocode') {
            document.getElementById('popup-overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
        } else if (type === 'code') {
            document.getElementById('popup-overlay-new').style.display = 'none';
            document.getElementById('popup-new').style.display = 'none';
        } else if (type === 'description') {
            document.getElementById('popup-overlay-description').style.display = 'none';
            document.getElementById('popup-description').style.display = 'none';
        }
    }
</script>
{% endblock contents %}
